body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
canvas.lower {
  z-index: 9000;
}
canvas.upper {
  z-index: 10000;
}

#screen {
  max-width: 512px;
  max-height: 512px;
  background-size: cover;
  overflow: hidden;
  margin: auto;
}

@mixin fill {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.screen {
  @include fill;
  overflow: hidden;
}
